.header-menu {
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding: 37px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  background-color: #141d2f;
  box-sizing: border-box;
  margin: 0 auto;
}

.logo img {
  width: 150px;
  height: auto;
}

.header-links {
  display: flex;
  gap: 29px;
}

.header-link {
  text-decoration: none;
  font-size: 18px;
  color: white;
  position: relative; /* Für den aktiven Zustand */
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: #00ff87; /* Grün beim Hover */
  }

  &.active-link {
    color: #00ff87; /* Grün für aktive Links */
  }

  &.active-link::after {
    content: ""; /* Strich unter dem aktiven Link */
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 3px;
    background-color: #9747ff !important; /* Lila Strich */
  }
}
