<header class="header-menu">
  <div class="logo">
    <img src="../../assets/img/header-img/Logo.png" alt="Logo" />
  </div>
  <nav class="header-links">
    <a routerLink="/about" routerLinkActive="active-link" class="header-link"
      >About Me</a
    >
    <a routerLink="/skills" routerLinkActive="active-link" class="header-link"
      >Skills</a
    >
    <a
      routerLink="/portfolio"
      routerLinkActive="active-link"
      class="header-link"
      >Portfolio</a
    >
  </nav>
</header>
