<div class="above-the-fold">
  <div class="hero">
    <div class="hero-background">
      <img
        class="photo-shadow"
        src="../../assets/img/above-the-fold-img/29. photo shadows(1).png"
        alt=""
      />
    </div>
    <img
      class="index"
      src="../../assets/img/above-the-fold-img/hero character photo.png"
      alt="Emrah Okur"
    />
    <div class="hero-background2">
      <img
        class="index-2"
        src="../../assets/img/above-the-fold-img/28. Hero Background.png"
        alt=""
      />
    </div>
    <div class="column">
      <div class="hero-text">
        <div class="intro">
          <p>I am</p>
        </div>
        <div class="name-title">
          <div class="name">
            <h1>Emrah Okur</h1>
          </div>
          <div class="subtitle">
            <span>FRONTEND DEVELOPER</span>
          </div>
        </div>
      </div>
      <a href="#contact"
        ><button class="above-talk">
          <span class="talk">Let's talk!</span>
        </button></a
      >
    </div>
  </div>
</div>
<div class="ref">
  <div class="line"></div>
  <div class="icons">
    <a href="https://github.com/EmrahOkur"
      ><img
        src="../../assets/img/above-the-fold-img/8. Github button.png"
        alt=""
    /></a>
  </div>
  <div class="icons">
    <a href="#contact"
      ><img
        src="../../assets/img/above-the-fold-img/9. Email button.png"
        alt=""
    /></a>
  </div>
  <div class="icons">
    <a href="https://www.linkedin.com/in/EmrahOkur/"
      ><img
        src="../../assets/img/above-the-fold-img/10. Linkedin button.png"
        alt=""
    /></a>
  </div>
  <a href="#" [style.cursor]="'pointer'">
    <div class="mail">info&#64;emrahokur.com</div>
  </a>
</div>

<a href="#">
  <div class="position">
    <div class="scroll">
      Scroll down
      <img
        src="../../assets/img/above-the-fold-img/arrow-down-line.png"
        alt=""
      />
    </div>
  </div>
</a>
