$toxicgreen: #39ff14;
$dark: #141d2f;
$purple: #9747ff;
$neongreen: #70e61c;
$gray: #b6b6b6;
$red: #e61c40;

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  width: 1440px;
  background-color: #141d2f;
  padding: 0;
}
